.home_container {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.heroSection_container {

    //background-color: #F5B400;
    background-image: url('../../assets/photos/backgroundHero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FAFAFA;

    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
   

    .heroSection {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 1280px;
        width: 100%;
        height: 100%;


        section {
            width: 600px;
            p {
                font-family: 'Montserrat-Bold';
                color: #333333;
                font-size: 70px;
            }

            img {

                display: flex;
                max-width: 814px;
                
                //max-height: 845px;
                //height: 100%;
                //max-width: 800px;

            }

            a {
                display: block;
                font-family: 'Montserrat-Regular';
                color: #F5F5F5;
                background-color: #333333;
                padding: 10px;
                width: 250px;
                text-align: center;
                cursor: pointer;
            }
        }

    }

}