.logo_container {
    a {
        font-family: 'Montserrat-Bold';
        color: #222222;
        font-size: 25px;
        
        span {
            font-size: 30px;
        }
    }
}

@media screen and (max-width: 740px) {
    .logo_container {
        a {
            font-size: 15px;           
            span {
                font-size: 20px;
            }
        }
    }
}