.filter_options {
    ul {
        li {
            list-style: none;
            label {
                display: flex;
                gap: 10px;
                font-family: 'Montserrat-Regular';

            }
        }
    }
}