.navBar_container {
    background-color: #F5B400;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 60px;

    .navBar {
        padding: 10px;
        display: flex;
        max-width: 1280px;
        width: 100%;
        justify-content: space-around;
        align-items: center;

        .navBarOptions_container {
            ul {
                display: flex;
                gap: 25px;

                li {
                    list-style: none;

                    a {
                        display: block;
                        font-family: 'Montserrat-Regular';
                        color: #F5F5F5;
                        background-color: #333333;
                        padding: 10px;
                        width: 250px;
                        text-align: center;
                    }
                }
            }
        }

    }
}