.develope_container {
    //background-color: rgb(192, 192, 192);
    position: relative;
    flex: 1;
    width: 100%;
    display: flex;
    //align-items: center;
    //justify-content: center;

}


